@(messages: String)

@main("Javabytes") {
    <!--
     message was Array[String]
    @for( message <- messages) {
      @message<br/>
    }
    -->
</head>
<body>

<div class="banner">
Javabytes
</div>

<div id="container">

<div class="intro">
Welcome to Javabytes, a dissassembler for your java code.  Inspired by a project by Matt Godbold called <a href="https://github.com/mattgodbolt/gcc-explorer">GCC Explorer</a>. 
<div class="messages">

</div>

<div class="action">
</div>
<div id="main">
  <div class="console-container">
    Java Code
    <div class="console">
      <textarea id="inputTextArea">System.out.println("hi");</textarea>
    </div>
    <a href="#" class="btn" onClick="javabytes.submitCode(); return false;">Dissassemble</a>
  </div>
  <div class="console-container">
    Dissassembled Code
    <div class="console">
      <textarea id="outputTextArea"></textarea>
    </div>
  </div>
</div>

</div>

</body>
</html>

}
