@(messages: String)

@main("Javabytes") {

<div id="container">
  <div class='container'>
    <div class="page-header" id='banner'>
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Javabytes</h1>
          <p class="lead">Java Dissassembler</p>
        </div>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="console-container">
      <label for="inputTextArea" class="control-label">Java Code (Java8)</label>
      <div class="console">
        <textarea id="inputTextArea">public class HelloWorld {

  public static void main(String [] args){
    System.out.println("Hello World");
  }
  
}

        </textarea>
      </div>
      <a id="disassemble_button" href="#" class="btn" onClick="codebytes.submitCode(); return false;">Disassemble</a>
    </div>
    <div class="console-container">
      <label for="outputTextArea" class="control-label">Disassembled Code</label>
      <div class="console">
        <textarea id="outputTextArea"></textarea>
      </div>
    </div>
  </div>

</div>
}
